/*============== ABOUT NEWSLETTER =============*/
.wpbingo-about--newsletter .wpbingo-section__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.wpbingo-about--newsletter .wpbingo-section__content > div {
    width: 50%;
    padding:  0 15px;
}
.wpbingo-about--newsletter .newsletter-form__wrap {
    display: flex; 
    height: 50px;
}
.wpbingo-about--newsletter .newsletter-form__wrap input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--gray-dark);
    padding: 0 15px;
    font-size: var(--font-size-base);
    background: transparent;
    height: auto;
}
.wpbingo-about--newsletter .newsletter-form__wrap input::placeholder {
    color: var(--text-color-50);
}
.wpbingo-about--newsletter .newsletter-form__wrap .newsletter-form__submit {
    border: 0;
    background: var(--theme-color);
    font-size: var(--font-size-base);
    text-transform: uppercase;
    color: var(--white);
    cursor: pointer;
    padding: 0 40px;
    text-wrap: nowrap;
    margin-left: 25px;
    font-weight: var(--body-font-weight-medium);
}
.wpbingo-about--newsletter .newsletter-form__wrap .newsletter-form__submit:hover {
    background-color: var(--gray-dark);
}
@media (max-width: 767px){
    .wpbingo-about--newsletter .wpbingo-section__content > div {
        width: 100%;
    }
}