/* $opacity-to-hex: (
	0: '00',
	0.05: '0C',
	0.1: '19',
	0.15: '26',
	0.2: '33',
	0.25: '3F',
	0.3: '4C',
	0.35: '59',
	0.4: '66',
	0.45: '72',
	0.5: '7F',
	0.55: '8C',
	0.6: '99',
	0.65: 'A5',
	0.7: 'B2',
	0.75: 'BF',
	0.8: 'CC',
	0.85: 'D8',
	0.9: 'E5',
	0.95: 'F2',
	1: 'FF'
); */
body{
	--white: #fff;
    --theme-color:#26352b;
	--theme-color-15:#26352b26;
	--theme-color-25:#26352b3F;
	--theme-color-50:#26352b7F;
	--theme-color-75:#26352bBF;
	
	--secondary-color:#515a43;
	--text-color:#2b2a26;
	--text-color-50:#2b2a267F;
	--text-color-75:#2b2a26BF;
	
	--gray-dark-15:#14141226;
	--gray-dark-25:#1414123F;
	--gray-dark:#141412;
	--gray-dark-50:#1414127F;
	--gray-dark-75:#141412BF;
	--gray-dark-10:#14141219;
	
	--body-bg-color:#f3f2ef;
	--border-color:#d8d5ce;
	--border-color-50:#d8d5ce7F;
	
	--header-bg-color: #ffffff;
	--footer-color: #5d5d5d;
	--footer-color-hover: #26352b;
	--menu-color: #000000;
	--menu-hover-color: #26352b;
	--menu-dropdown-bg: #ffffff;
	--menu-dropdown-color: #000000;
	--menu-dropdown-hover-color: #26352b;
	
	--font-family-second: Jost;
	--heading-font-weight-default: 400;
	--heading-font-weight-bold: 700;
	--heading-font-weight-medium: 500;
	--heading-font-weight-light: 300;
	--font-size-heading: 25px;
	
	--font-family-base: Jost;
	--body-font-weight-default: 400;
	--body-font-weight-bold: 400;
	--body-font-weight-medium: 400;
	--body-font-weight-light: 300;
	--font-size-base: 17px;
}
