/* $opacity-to-hex: (
	0: '00',
	0.05: '0C',
	0.1: '19',
	0.15: '26',
	0.2: '33',
	0.25: '3F',
	0.3: '4C',
	0.35: '59',
	0.4: '66',
	0.45: '72',
	0.5: '7F',
	0.55: '8C',
	0.6: '99',
	0.65: 'A5',
	0.7: 'B2',
	0.75: 'BF',
	0.8: 'CC',
	0.85: 'D8',
	0.9: 'E5',
	0.95: 'F2',
	1: 'FF'
); */
body{
	--white: #fff;
    --theme-color:#2f5d8c;
	--theme-color-15:#2f5d8c26;
	--theme-color-25:#2f5d8c3F;
	--theme-color-50:#2f5d8c7F;
	--theme-color-75:#2f5d8cBF;
	
	--secondary-color:#38424e;
	--text-color:#2b3036;
	--text-color-50:#2b30367F;
	--text-color-75:#2b3036BF;
	
	--gray-dark-15:#11131526;
	--gray-dark-25:#1113153F;
	--gray-dark:#111315;
	--gray-dark-50:#1113157F;
	--gray-dark-75:#111315BF;
	--gray-dark-10:#11131519;
	
	--body-bg-color:#f6f7f8;
	--border-color:#d8dde3;
	--border-color-50:#d8dde37F;
	
	--header-bg-color: #ffffff;
	--footer-color: #5d5d5d;
	--footer-color-hover: #2f5d8c;
	--menu-color: #000000;
	--menu-hover-color: #2f5d8c;
	--menu-dropdown-bg: #ffffff;
	--menu-dropdown-color: #000000;
	--menu-dropdown-hover-color: #2f5d8c;
	
	--font-family-second: Jost;
	--heading-font-weight-default: 400;
	--heading-font-weight-bold: 700;
	--heading-font-weight-medium: 500;
	--heading-font-weight-light: 300;
	--font-size-heading: 25px;
	
	--font-family-base: Jost;
	--body-font-weight-default: 400;
	--body-font-weight-bold: 400;
	--body-font-weight-medium: 400;
	--body-font-weight-light: 300;
	--font-size-base: 17px;
}
